In [3]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

data_abb = pd.read_csv('clean_listings.csv')

In [4]:
data_abb = data_abb.rename(columns={'neighbourhood_cleansed': 'neighbourhood_group', 'neighbourhood_group_cleansed': 'neighbourhood'})
data_abb.head()

,Unnamed: 0,id,name,host_id,host_name,host_listings_count,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,availability_365,number_of_reviews,last_review,reviews_per_month
0,0,16228948,Robert Ranch in Los Angeles for filming/wedding,54345288,Robert,1.0,Acton,NaN,34.530350,-118.227088,Entire home/apt,3000,1,352,0,NaN,NaN
1,1,8909380,Nice quiet private ranch house,44800067,Kevin,1.0,Acton,NaN,34.485431,-118.125379,Private room,50,1,350,33,4/22/2017,1.91
2,2,14078522,Room w/private bath on Small Ranch,84615808,Kirsten,1.0,Acton,NaN,34.510130,-118.212407,Private room,55,1,348,14,4/29/2017,1.72
3,3,13006928,Miller Ranch Bunkhouse,71743973,Beverly,1.0,Acton,NaN,34.515486,-118.230742,Entire home/apt,150,1,87,22,4/30/2017,2.12
4,4,7898757,Studio with full bathroom,41646908,Ian,1.0,Adams-Normandie,NaN,34.031419,-118.299017,Private room,30,1,0,3,12/26/2015,0.18

In [5]:
# data_abb = data_abb.rename(columns={'neighbourhood_cleansed': 'neighbourhood', 'neighbourhood_group_cleansed': 'neighbourhood'}

In [6]:
df=data_abb[['price','neighbourhood_group','minimum_nights','room_type',
             'availability_365', 'number_of_reviews']]
df.head()

,price,neighbourhood_group,minimum_nights,room_type,availability_365,number_of_reviews
0,3000,Acton,1,Entire home/apt,352,0
1,50,Acton,1,Private room,350,33
2,55,Acton,1,Private room,348,14
3,150,Acton,1,Entire home/apt,87,22
4,30,Adams-Normandie,1,Private room,0,3

In [8]:
df_dummies = pd.get_dummies(df,prefix=['neighbourhood_group', 'room_type'])
df_dummies.to_csv('ABB_ML_ready.csv')
df_dummies.head()

,price,minimum_nights,availability_365,number_of_reviews,neighbourhood_group_Acton,neighbourhood_group_Adams-Normandie,neighbourhood_group_Agoura Hills,neighbourhood_group_Agua Dulce,neighbourhood_group_Alhambra,neighbourhood_group_Alondra Park,...,neighbourhood_group_Westwood,neighbourhood_group_Whittier,neighbourhood_group_Willowbrook,neighbourhood_group_Wilmington,neighbourhood_group_Windsor Square,neighbourhood_group_Winnetka,neighbourhood_group_Woodland Hills,room_type_Entire home/apt,room_type_Private room,room_type_Shared room
0,3000,1,352,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,1,350,33,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,55,1,348,14,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,150,1,87,22,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,30,1,0,3,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [9]:
X = df_dummies.drop('price', axis=1)

y = df_dummies['price'].values.reshape(-1,1)
# X dependent, y independent  
# X is one variable, raising by a degree each time, 
# y is the resultant;

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [11]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [12]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 114.5553576166851
Mean Squared Error: 209348.81308667274
Root Mean Squared Error: 457.546514670009

In [13]:

regressor.score(X_test, y_test)

0.09340962760784766

In [ ]:
# for i in np.arrange(100, 1000, 100):

In [14]:
for i in np.arange(100, 1000, 100):
    rf = RandomForestRegressor(n_estimators=i)
    rf = rf.fit(iris.data, iris.target)
    print(rf.score(iris.data, iris.target))

NameError: name 'RandomForestClassifier' is not defined

In [11]:
#Rerunning the random forest model with different parameters 
regressor = RandomForestRegressor(n_estimators=200, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [12]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 113.66188200204758
Mean Squared Error: 207046.4807906285
Root Mean Squared Error: 455.02360465214167

In [13]:
#checking score
#https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html#sklearn.ensemble.RandomForestRegressor.score

regressor.score(X_test, y_test)

0.10337993631352482